
<section class="container_card">	
        {{#each products}}
        <div class="card">
            <h2 class="card-h2">{{title}}</h2>
                <img src="{{thumbnail}}" alt="img">
                    <div class="card-content">
                        <p class="description">{{description}}</p>
                        <p class="price">{{price}}</p>
                        <a href="#" class="btn">Ver más</a>
                    </div>
            <!-- faltan agregar props -->
        </div>
    {{/each}}
</section>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {{#each pagination.pages}}
      <li class="page-item {{#if (eq ../pagination.currentPage this)}}active{{/if}}">
        <a class="page-link" href="/api/productsDb?page={{this}}">
          {{this}}
        </a>
      </li>
    {{/each}}
  </ul>
</nav>
